@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 


:root {
  --primary: #ffcc00;
  --secondary: #222;
}

.load-man {
  animation: load-man-travel 1.2s infinite linear;
  background: repeating-linear-gradient(
    90deg,
    var(--secondary),
    var(--secondary) 5%,
    transparent 5%,
    transparent 35%
  );
  height: 10px;
  left: 50%;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 200px;
 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

.load-man:after,
.load-man:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  border: 25px solid var(--primary);
  border-radius: 100%;
  margin-top: -25px;
}

.load-man:before {
  --close: -90;
  animation: load-man-chomp 0.35s infinite linear;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.load-man:after {
  --close: 0;
  animation: load-man-chomp 0.35s infinite linear;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes load-man-travel {
  to {
    background-position: -200px 0;
  }
}

@keyframes load-man-chomp {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(calc(var(--close) * 1deg));
  }
  100% {
    transform: rotate(-45deg);
  }
}
